@import "../../styles/css/global.styles.css";

.add-card-bottom-overlay {
  border-top: 1px solid #e7e7e7;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: absolute;
  z-index: 9999999999;
  bottom: 0px;
  width: 100%;
}

.add-card-bottom-overlay-topbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.add-card-bottom-overlay-title {
  font-family: "Spartan Bold", sans-serif;
  font-size: 0.9rem;
}

.add-card-bottom-overlay-cards {
  padding: 0rem 1rem;
}

.add-card-bottom-overlay-card {
  border-radius: 4px;
  padding: 1rem;
  margin: 1rem 0rem;
}

.add-card-bottom-overlay-card-topbar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.add-card-bottom-overlay-card-title {
  font-family: "Spartan Bold", sans-serif;
  font-size: 0.75rem;
  color: white;
  text-transform: uppercase;
}

.add-card-bottom-overlay-card-icon {
  color: white;
  margin-right: 0.5rem;
}
