@import "../../styles/css/global.styles.css";

.calories {
  font-family: "Spartan Bold", sans-serif;
  font-size: 1.25rem;
}

.calories-action-button {
  background-color: #9ae17b;
  padding: 0.75rem;
  width: 100%;
  font-family: "Spartan Bold", sans-serif;
  font-size: 0.9rem;
  color: white;
  border: none;
  border-radius: 4px;
  margin-top: 1rem;
}
